alertmanager:
  resources:
    requests:
      memory: 100Mi
      cpu: 100m
    limits:
      memory: 200Mi
      cpu: 200m

prometheus:
  prometheusSpec:
    resources:
      requests:
        memory: 200Mi
        cpu: 200m
      limits:
        memory: 400Mi
        cpu: 400m
grafana:
  resources:
    requests:
      memory: 100Mi
      cpu: 100m
    limits:
      memory: 200Mi
      cpu: 200m
