name: CI-CD Flask App (Helm + ArgoCD)

on:
  push:
    branches:
      - main

jobs:
  build-push-update:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_PAT }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        run: |
          IMAGE_TAG=${GITHUB_SHA::7}
          docker build -t ghani9898/flask-app:$IMAGE_TAG ./flask-app-code
          docker push ghani9898/flask-app:$IMAGE_TAG
          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV

      - name: Update Helm values.yaml
        run: |
          sed -i "s/tag:.*/tag: ${IMAGE_TAG}/" values.yaml

      - name: Commit and Push updated values.yaml
        run: |
          git config user.name "Ghani9898"
          git config user.email "98a.ghani@gmail.com"
          git add values.yaml
          git commit -m "ci: update image tag to ${IMAGE_TAG}"
          git push
